/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu-item {
    width: 50px; 
    height: 50px;
    background-image: url('C:/Users/2DAW2425-10/Desktop/Diseño de interfaces/Imagenes/diseno'); 
    background-repeat: no-repeat;
    background-size: 150px 50px; 
    border: none;
    cursor: pointer;
}

/* Icono de Inicio */
.menu-item.home {
    background-position: 0 0;
}

/* Icono de Buscar */
.menu-item.search {
    background-position: -50px 0;
}

/* Icono de Configuración */
.menu-item.settings {
    background-position: -100px 0;
}
