body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu-item {
    width: 50px; 
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;  /* Ajusta la imagen */
    border: none;
    cursor: pointer;
}


.menu-item.home {
    background-image: url('file:///C:/Users/2DAW2425-10/Desktop/Diseño/Imagenes/home.png');
    background-position: center;  /* Centra la imagen en el contenedor */
}


.menu-item.search {
    background-image: url('file:///C:/Users/2DAW2425-10/Desktop/Diseño/Imagenes/search.png');
    background-position: center;  
}


.menu-item.settings {
    background-image: url('file:///C:/Users/2DAW2425-10/Desktop/Diseño/Imagenes/settings.png');
    background-position: center;  
}
