* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Cabecera */
.header {
    background-image: url('imagenes/4.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.header .header-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.header .header-content p {
    font-size: 1.5em;
}


.gallery {
    padding: 40px 20px;
    text-align: center;
    background-color: #f5f5f5;
}

.gallery h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.images img {
    max-width: 30%;
    border-radius: 15px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.images img:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.content {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content-images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-item {
    width: 30%;
    margin: 10px;
    text-align: center;
}

.content-item img {
    max-width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.content-item img:hover {
    transform: scale(1.05);
}


.footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.footer .btn-footer {
    display: inline-block;
    width: 200px;  /* Ajusta el tamaño del botón según lo necesites */
    height: 50px;  /* Ajusta el tamaño del botón según lo necesites */
    text-decoration: none; 
}

.footer .footer-icon {
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 100%; /* Hace que la imagen ocupe toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente sin distorsión */
    border-radius: 10px; /* Puedes agregar bordes redondeados si lo deseas */
    transition: transform 0.3s ease, filter 0.3s ease;
}

.footer .footer-icon:hover {
    transform: scale(1.1);  /* Efecto de zoom al pasar el ratón */
    filter: brightness(0.8); /* Oscurece un poco la imagen al hacer hover */
}

#p1{
    color: greenyellow;
}

